[Unit]
Description=InsConsumer
After=network.target

[Service]
Environment=IS_PORT=8097
Environment=IS_DB_HOST=localhost
Environment=IS_DB_PORT=3306
Environment=IS_DB_USER=root
Environment=IS_DB_PASS=ganesh
Environment=IS_DB_NAME=insync

Environment=IS_SERVER_ID=insync
Environment=IS_TMP=/mnt/ebs1/tmp/

Environment=IS_STATSD_HOST=instats.cloware.in
Environment=IS_STATSD_PORT=8125
Environment=IS_STATSD_PROTOCOL=tcp

Environment=IS_SQS_REGION=
Environment=IS_SQS_KEY=
Environment=IS_SQS_SECRET=
Environment=IS_SQS_IAMROLE=


Type=simple
User=nobody
ExecStart=/usr/bin/node --max-old-space-size=2048 [[insync-folder]]/consumers/run.js ./workers-sample.js
#ExecStart=/usr/bin/node --max-old-space-size=2048 [[insync-folder]]/consumers/consumer1/index.js


Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=insync
WorkingDirectory=[[insync-folder]]/consumers

[Install]
WantedBy=multi-user.target
