[Unit]
Description=InsConsumer
After=network.target

[Service]
Environment=IS_PORT=9097
#Environment=IS_DB_HOST=wcrs-uat-instance-instance-1.cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_HOST=rs-uat-webapp.cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_PORT=3306
Environment=IS_DB_USER=admin
Environment=IS_DB_PASS=PyupxQPXXzzSuKKt9NTc
Environment=IS_DB_NAME=is_rsisghu

Environment=IS_SERVER_ID=is_rsisghu
Environment=IS_TMP=/mnt/ebs1/tmp/is_rsisghu

Environment=IS_STATSD_HOST=127.0.0.1
Environment=IS_STATSD_PORT=8125
Environment=IS_STATSD_PROTOCOL=tcp


Environment=IS_LAMBDA_REGION=ap-south-1
Environment=IS_LAMBDA_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM

Environment=IS_SQS_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM
Environment=IS_SQS_REGION=ap-south-1
Environment=IS_TWIG_URL=http://localhost:8080/gstwig/api/v1/transform

Environment=IS_S3_REGION=ap-south-1
#Environment=IS_S3_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM

Type=simple
User=nobody
ExecStart=/usr/bin/node --max-old-space-size=2048 /mnt/ebs1/rsisghu/insync/consumers/run.js /mnt/ebs1/rsisghu/twigs/uat/rsgi-workers.js


Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=insync
WorkingDirectory=/mnt/ebs1/rsisghu/insync/consumers

[Install]
WantedBy=multi-user.target
