.summary-wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    grid-template-areas: "a b c";
    padding-right: 1em;
}

.pol-calendar {
    width: 380px;
    padding: 0em 0em;
}

@media only screen and (max-width: 1140px) {
    .summary-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b c";
    }
    .pol-calendar {
        margin: auto;
    }
}

@media only screen and (max-width: 800px) {
    .summary-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c";
    }
    .pol-calendar {
        width: 380px;
        padding: 0em 0em;
        margin: auto;
    }
}

