.summary-table {
    width: 100%;
    border-collapse: collapse;
}
.summary-table th {
    text-align: right;
    padding: .3em 1em;
    background: #757de8;
    color: #FFF;
    font-weight: normal;
}
.summary-table td {
    padding: .6em 1em;
    text-align: right;
    cursor: pointer;
}
.summary-table > tr:last-child { background:#EEE; font-weight: bold;}
.state-cell {
    width: 100px;
    word-wrap: normal;
    overflow: hidden;
}
.prod-cell {
    text-align: left !important;
}
