[Unit]
Description=InsConsumer
After=network.target

[Service]
Environment=IS_PORT=11097
#Environment=IS_DB_HOST=wcrs-uat-instance.cluster-cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_HOST=rs-uat-webapp.cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_PORT=3306
Environment=IS_DB_USER=admin
Environment=IS_DB_PASS=PyupxQPXXzzSuKKt9NTc
Environment=IS_DB_NAME=is_rsisghuendt

Environment=IS_SERVER_ID=is_rsisghuendt
Environment=IS_TMP=/mnt/ebs1/tmp/is_rsisghuendt

Environment=IS_INSILLION_SERVER=http://localhost:8000
Environment=IS_INSILLION_USER=admin
Environment=IS_INSILLION_MPWD=ff83113d50bd8a1c0dc818b19c0383f8

Environment=IS_ORCL_DB_HOST=10.46.31.130
Environment=IS_ORCL_DB_PORT=1521
Environment=IS_ORCL_DB_NAME=DMSUAT
Environment=IS_ORCL_DB_USER=TSTCOMM
Environment=IS_ORCL_DB_PASS=COMMTST$24
Environment=IS_DB_TYPE=ORACLE
Environment=IS_ORCL_LIB=/usr/lib/oracle/21/client64/lib

Environment=IS_LAMBDA_REGION=ap-south-1
Environment=IS_LAMBDA_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM

Environment=IS_SQS_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM
Environment=IS_SQS_REGION=ap-south-1

Environment=IS_S3_REGION=ap-south-1
Environment=IS_S3_IAMROLE=arn:aws:iam::920043513072:role/CLAIMS-SSM

Type=simple
User=nobody
ExecStart=/usr/bin/node --max-old-space-size=2048 /mnt/ebs1/rsisghuendt/insync/consumers/run.js /mnt/ebs1/rsisghuendt/twigs/uat/rsgi-endt-workers.js
#ExecStart=/usr/bin/node --max-old-space-size=2048 [[insync-folder]]/consumers/consumer1/index.js


Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=insync
WorkingDirectory=/mnt/ebs1/rsisghuendt/insync/consumers

[Install]
WantedBy=multi-user.target

