[Unit]
Description=InSync
After=network.target

[Service]
Environment=IS_PORT=11097
Environment=IS_DB_HOST=rs-prod-healthgmc-cluster.cluster-cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_PORT=3636
Environment=IS_DB_USER=rsuser
Environment=IS_DB_PASS=WAYnsI6xGMbI8TTA
Environment=IS_DB_NAME=rshealthinsync

Environment=IS_SERVER_ID=is_rshealthinsync
Environment=IS_TMP=/mnt/ebs1/tmp/is_rshealthinsync

#Environment=IS_INSILLION_SERVER=http://localhost:8000
Environment=IS_INSILLION_SERVER=https://rshealth.royalsundaran.in
Environment=IS_INSILLION_USER=admin
Environment=IS_INSILLION_MPWD=addebeee50d525ebeff5796a35b20735

Environment=CUST_CONFIG=/mnt/ebs1/rshealthinsync/twigs/prod/prod-iib-rsgi-config.js


Environment=IS_LAMBDA_REGION=ap-south-1
Environment=IS_LAMBDA_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role

Environment=IS_SQS_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role
Environment=IS_SQS_REGION=ap-south-1

Environment=IS_S3_REGION=ap-south-1
Environment=IS_S3_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role

Type=simple
User=nobody
ExecStart=/usr/bin/node --max-old-space-size=2048 /mnt/ebs1/rshealthinsync/insync/index.js


Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=insync
WorkingDirectory=/mnt/ebs1/rshealthinsync/insync/

[Install]
WantedBy=multi-user.target

