.caption {
    font-size: 1.2em;
}
.summary-period {
    max-width: 1024px;
    margin: auto;
}
.period-item {
    display: inline-block;
    padding: 0px 1em;
    border: 1px solid #AAA;
    border-radius: .5em;
    font-size: 0.8em;
    margin: 0.25em .25em;
    cursor: pointer;
}
.period-item-cal {
    display: inline-block;
    font-size: 0.8em;
    cursor: pointer;
    margin: 0px 1em 0px .25em;
}
.period-disp {
    display: inline-block;
    font-size: 0.8em;
}
.period-item-select {
    background-color: #889;
    color: #FFF;
}

table {
    width: 100%;
}
table tr.mat-header-row, tr.mat-row {
    height: 40px;
}
table th {
    background: #757de8;
    color: #FFF;
    font-weight: normal;
}
.mat-cell {
    padding: 0em 0.5em;
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: #FFE5DF;
}