[Unit]
Description=InsConsumer
After=network.target

[Service]
Environment=IS_PORT=9097
Environment=IS_DB_HOST=rs-prod-healthgmc-cluster.cluster-cq2cwczu14rw.ap-south-1.rds.amazonaws.com
Environment=IS_DB_PORT=3636
Environment=IS_DB_USER=rsuser
Environment=IS_DB_PASS=WAYnsI6xGMbI8TTA
Environment=IS_DB_NAME=rshealthendt

Environment=IS_SERVER_ID=is_rshealthendt
Environment=IS_TMP=/mnt/ebs1/tmp/is_rshealthendt


Environment=IS_LAMBDA_REGION=ap-south-1
Environment=IS_LAMBDA_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role

Environment=IS_SQS_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role
Environment=IS_SQS_REGION=ap-south-1

Environment=IS_S3_REGION=ap-south-1
Environment=IS_S3_IAMROLE=arn:aws:iam::920043513072:role/Insillion-Prod-Role

Type=simple
User=nobody
ExecStart=/usr/bin/node --max-old-space-size=2048 /mnt/ebs1/rshealthendt/insync/consumers/run.js /mnt/ebs1/rshealthendt/twigs/uat/rsgi-workers.js


Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=insync
WorkingDirectory=/mnt/ebs1/rshealthendt/insync/consumers

[Install]
WantedBy=multi-user.target
